:root {
  font-family: "Source Code Pro Variable", sans-serif;
  line-height: 1.6;
  font-size: 1.125rem;
  font-weight: 400;
  background-color: #161616;
  color: #ffffff;
  --white-text: #fbe5f2;
  --snake-pink: #ff46b5;
  --high-score-green: #1afe88;
  --classic-mode: #5c8dff;
  --speed-mode: #ffce10;
  --timed-mode: #ff3649;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

button {
  font: inherit;
  padding: 0;
  margin: 0;
  border: none;
  color: var(--white-text);
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s all;
  will-change: transform;
  &:hover {
    transform: scale(1.2);
  }
}
